/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.navbar {
    display: flex; /* separates the div (logo) from list (nav) */
    color: black;
    padding: 15px 30px;
    justify-content: space-between; /*pushes logo to the left and links to the right */
}

.nav-links {
    display: flex;
    list-style: none; /* removes bullet points from nav list */
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links a{
    color: blue;
    text-decoration: none; /* removes underline from nav list */
    transition: all 0.5s ease 0s;
}

.nav-links a:hover {
    color: black;
}