.navbar {
    display: flex; /* separates the div (logo) from list (nav) */
    color: black; 
    padding: 15px 30px;
    justify-content: space-between; /*pushes logo to the left and links to the right */
    border-bottom: 1px solid gainsboro;
}

.nav-links {
    display: flex;
    list-style: none; /* removes bullet points from nav list */
    gap: 25px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.logo {
  font-weight: 800;
}
.nav-links {
    color: blue;
    transition: all 0.5s ease 0s;
}

.nav-links:hover {
    color: black;
}

.service-cards {
    display: flex; 
    color: black;
    padding: 15px 30px;
    justify-content: center; 
    gap: 25px;
    margin-bottom: 10px;
    margin-top: 30px;
    box-sizing: border-box;
}

.service-cards li {
    list-style: none;
    gap: 25px;
    margin-bottom: 60px;
    padding: 8px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100px;
    width: 300px;
    transition: transform 0.8s ease 0s, filter 0.3s ease;
}

.service-cards li:hover {
    outline: none;
    transform: scale(1.1);
}

.service-cards h4 {
    font-size: 15px;
    font-weight: 800;
    margin: 0;
}

.service-cards p {
    font-size: 15px;
    margin-top: 20px;
}


.service-cards2 {
    display: flex; 
    color: black;
    padding: 15px 30px;
    justify-content: center; 
    gap: 25px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.service-cards2 li {
    list-style: none;
    gap: 25px;
    margin-bottom: 60px;
    padding: 8px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100px;
    width: 300px;
    transition: transform 0.8s ease 0s, filter 0.3s ease;
}

.service-cards2 li:hover {
    outline: none;
    transform: scale(1.1);
}

.service-cards2 h4 {
    font-size: 15px;
    font-weight: 800;
    margin: 0;
}

.service-cards2 p {
    font-size: 15px;
    margin-top: 20px;
}