* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: white;
    margin: 0px;
    padding: 0px;
    align-items: center;
}

footer {
  border-top: 1px solid gainsboro;
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
  padding: 20px;
}